.score-list {

}

.score-list__item {
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px;
  border-radius: var(--border-radius);
  margin-bottom: var(--grid-size);
  padding: var(--grid-size-half);
  position: relative;
}

.score-list__item:last-child {
  margin-bottom: 0;
}

.score-sheet {
  width: 100%;
  display: block;
}
