.score-list {

}

.score-list__item {
  border: 1px solid var(--light-grey);
  margin-bottom: var(--grid-size);
  padding: var(--grid-size-half);
  position: relative;
}

.score-list__item:last-child {
  margin-bottom: 0;
}

.score-sheet {
  width: 100%;
  display: block;
}
