.search-form {
  margin-bottom: 20px;
}

.search-form__input {
  width: 100%;
  display: block;
  font-size: 1em;
  padding: 10px 20px;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  transition: box-shadow 0.25s ease-in;
}

