.search-form {
  margin-bottom: 20px;
}

.search-form__input {
  width: 100%;
  display: block;
  font-size: 1em;
  padding: var(--grid-size-half) var(--grid-size);
  border: 1px solid var(--light-grey);
  /*border-radius: var(--border-radius);*/
  outline: none;
  transition: border-color 0.25s ease-in;
}

.search-form__input:focus {
  border-color: var(--dark-grey);
}
